<template>
  <div>
    <div>
      <button class="button success" @click="openForm" v-show="!isCreating">Create Todo</button>

      <div class="todo-create" v-show="isCreating">
        <input type="text" placeholder="Enter Title" v-model="titleText" ref="title">
        <textarea placeholder="Enter description" v-model="descriptionText" ref="description"></textarea>

        <button class="button success" @click="sendForm">Create</button>
        <button class="button alert" @click="closeForm">Cancel</button>
      </div>

    </div>
  </div>
</template>

<script>
  export default {
    name: 'CreateTodo',
    data(){
      return {
        isCreating: false,
        titleText: '',
        descriptionText: ''
      }
    },
    methods:{
      openForm: function(){
        this.isCreating = true;
      },
      closeForm: function() {
        this.isCreating = false;
      },
      sendForm: function() {
        var title = this.titleText;
        var description = this.descriptionText;

        this.$emit('create-todo', {
          title,
          description,
          status: 0
        });
        this.titleText = '';
        this.descriptionText = '';
        this.isCreating = false;
      }
    }

  }
</script>

<style>
  .todo-create{
    margin: 20px;
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  .todo-create textarea{
    height: 150px;
  }
</style>

