<template>
  <div>

    <div class="row">

      <div class="columns large-6">
        <h2>Uncompleted ({{ uncompletedTodos.length }})</h2>
        <Todo v-for="todo in uncompletedTodos" :todo="todo" :key="todo.id" @delete-todo="deleteTodo(todo)" @toggle-todo="toggleTodo(todo)"></Todo>
      </div>

      <div class="columns large-6">
        <h2>Completed ({{ completedTodos.length }})</h2>
        <Todo v-for="todo in completedTodos" :todo="todo" :key="todo.id" @delete-todo="deleteTodo(todo)" @toggle-todo="toggleTodo(todo)"></Todo>
      </div>

    </div>
  </div>
</template>

<script>
  import qs from 'qs';
  import axios from 'axios';
  import Todo from './Todo';

  export default {
    name: 'TodoList',
    props: [
      'todos'
    ],
    components: {
      Todo
    },
    computed: {
      completedTodos: function() {
        return this.todos.filter(function(todo){
          return todo.status == 1;
        });
      },
      uncompletedTodos: function() {
        return this.todos.filter(function(todo){
          return todo.status == 0;
        });
      }
    },
    methods: {
      deleteTodo: function(todo) {
        var todoIndex = this.todos.indexOf(todo);

        axios.post('http://localhost/api/delete-todo', qs.stringify(todo))
          .then((response)=>{
            console.log(response);
            this.todos.splice(todoIndex, 1);
          });

      },
      toggleTodo: function(todo) {
        todo.status = (todo.status==1) ? todo.status=0 : todo.status=1;
        axios.post('http://localhost/api/toggle-todo', qs.stringify(todo))
          .then((response)=>{
            console.log(response);
          });
      }
    }
  }
</script>

<style lang="css">

</style>
