<template>
  <div class="todo">
    <div class="row">

      <div class="columns large-1">
        <button class="todo-complete-icon" :class="{completed:todo.status==1}" @click="toggleTodo(todo)"></button>
      </div>

      <div class="columns large-11" v-show="!editing">
        <h4>{{ todo.title }}</h4>
        <p>{{ todo.description }}</p>

        <button class="button alert" @click="showForm(todo)">Edit</button>
        <button class="button primary" @click="deleteTodo(todo)">Delete</button>
      </div>

      <div class="columns large-11" v-show="editing">
          <input type="text" placeholder="Enter Title" v-model="todo.title" ref="title">
          <textarea placeholder="Enter description" v-model="todo.description" ref="description"></textarea>

          <button class="button success" @click="updateTodo(todo.id, todo.title, todo.description, todo.status)">Update &amp; Close</button>
          <button class="button alert" @click="closeForm">Cancel</button>
      </div>

    </div>
  </div>
</template>

<script>
  import qs from 'qs';
  import axios from 'axios';

  export default {
    name: 'Todo',
    props:['todo'],
    data: function(){
      return {
        editing: false
      }
    },
    methods: {
      deleteTodo: function(todo) {
        this.$emit('delete-todo', todo);
      },
      toggleTodo: function(todo) {
        this.$emit('toggle-todo', todo);
      },
      updateTodo: function(id, title, description, status) {
        var data = {
          id,
          title,
          description,
          status
        };

        axios.post('http://localhost/api/update-todo', qs.stringify(data));

        this.editing = false;
      },
      showForm: function() {
        this.editing = true;
      },
      closeForm: function() {
        this.editing = false;
      }
    }
  }
</script>

<style>
  .todo{
      padding: 20px;
      border: 1px solid #ccc;
      margin-bottom: 20px;
  }
  .todo-complete-icon{
      width: 30px;
      height: 30px;
      border: 2px solid #ccc;
      border-radius: 50%;
      margin-right: 40px;
      margin-top: 10px;
      position: relative;
      cursor: pointer;
  }
  .todo-complete-icon.completed{
      border-color: #00c996;
  }
  .todo-complete-icon.completed:before{
      content: "\2714";
      font-size: 36px;
      position: absolute;
      top:-10px;
      left:4px;
      color: #00c996;
  }
</style>
