<template>
  <div id="app">
    <CreateTodo @create-todo="addTodo"></CreateTodo>
    <TodoList :todos="todos"></TodoList>
  </div>
</template>

<script>
import qs from 'qs';
import axios from 'axios';
import TodoList from './components/TodoList'
import CreateTodo from './components/CreateTodo'

export default {
  name: 'App',
  components: {
    TodoList,
    CreateTodo
  },
  data: function(){
      return {
        todos: []
      }
    },
  mounted() {
    axios.get('http://localhost/api/todos')
      .then((response) => {
        this.todos = response.data;
      })
  },
  methods: {
    addTodo: function(todo) {
      axios.post('http://localhost/api/add-todo',qs.stringify(todo))
      .then((response) => {
        console.log(response);
        this.todos.push(todo);
      }).catch(error => console.log(error));
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
